body {
  background-color: aliceblue;
}

/* Header styles on index.html and question.html */
.header {
  padding: 10px;
  /* border: 2px solid black; */
  margin: 30 px;
  background-color: darkcyan;
}

/* Nav styles applied  */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aqua;
}

/* navbar list item styles */
.nav-container li {
  list-style: none;
  background-color: black;
}
/* Link text color changed to white */
.nav-item {
  color: white;
}
a:link {
  text-decoration: none;
}

.start-quiz-section {
  padding: 10px;
  text-align: center;
  /* border: 2px solid burlywood; */
  margin: 50px;
}

.form-container,
.question-section {
  background-color: faedcd;
  text-align: center;
}

.list-item {
  background-color: aqua;
  margin: 10px;
  list-style-type: none;
}

.form-container {
  justify-content: center;
}
