body {
  background-color: ee9b00;
  height: 100%;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Header styles on index.html and question.html */
.header {
  padding: 10px;
  /* border: 2px solid black; */
  margin: 30 px;
  background-color: darkcyan;
  height: 80px;
  border: 2px solid black;
  box-shadow: 10px 12px;
}

/* Nav styles applied  */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* navbar list item styles */
.nav-container li {
  list-style: none;
}
/* Link text color changed to white */
.nav-item {
  color: white;
}
a:link {
  text-decoration: none;
}
/* Styles for header section end here */

/* Styles for main section start here */
.main-class {
  flex: 2;
}

/* Timer text on landing page */
.timer-text {
  margin: 10px;
  font-weight: bold;
  color: white;
}

/* section containing information about quiz and start button */
.start-quiz-section {
  padding-top: 30px;
  text-align: center;
  border: 5px solid burlywood;
  margin-bottom: 10px;
  background-color: f95738;
  width: 100%;
  height: 30rem;
  color: white;
}

/*.main-heading {
  color: black;
}*/

.button {
  margin: 30px;
  border: 3px solid burlywood;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px black;
}

.button:hover {
  background-color: e63946;
}

.form-container,
.question-section {
  /* background-color: 590d22; */
  text-align: center;
}

/* questions rendered when start button clicked */
.form-container,
.question-section {
  padding: 10px;
  border: 5px solid burlywood;
  margin-bottom: 10px;
  background-color: f95738;
  width: 100%;
  height: 30rem;
  color: white;
}

.subtitle {
  margin: 20px;
  padding: 10px;
  color: black;
}

.list-item {
  padding: 5px;
  background-color: ce4257;
  margin: 20px;
  list-style-type: none;
}

.list-item:hover {
  background-color: ff0054;
}

/* form rendered when all questions are answered */
.form-container {
  justify-content: center;
  margin-top: 20px;
}

.timer-score-value {
  color: white;
  font-size: larger;
}
/* Styles for main section end here */

/* Styles for footer section */
.footer-container {
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
  border: 2px solid white;

  justify-content: space-between;
  background-color: darkcyan;

  height: 80px;
}
.contact-item {
  margin: 20px;
}

.footer-link-item {
  color: white;
}
/* media query */
@media (max-width: 700px) {
  .header {
    flex-direction: column;
  }
}
