.header {
  padding: 10px;
  /* border: 2px solid black; */
  margin: 30 px;
}

.navnav-container {
  display: flex;
}
.start-quiz-section {
  padding: 10px;
  text-align: center;
  /* border: 2px solid burlywood; */
  margin: 50px;
}
