body {
  background-color: ee9b00;
}

/* Header styles on index.html and question.html */
.header {
  padding: 10px;
  /* border: 2px solid black; */
  margin: 30 px;
  background-color: darkcyan;
  height: 80px;
  border: 2px solid black;
}

/* Nav styles applied  */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* navbar list item styles */
.nav-container li {
  list-style: none;
}
/* Link text color changed to white */
.nav-item {
  color: white;
}
a:link {
  text-decoration: none;
}
/* Styles for header section end here */

/* Styles for main section start here */

/* Timer text on landing page */
.timer-text {
  margin: 10px;
}

/* section containing information about quiz and start button */
.start-quiz-section {
  padding-top: 30px;
  text-align: center;
  border: 5px solid burlywood;
  /* margin: 30px; */
  background-color: f95738;
  width: 90%;
  height: 30rem;
  color: white;
}

/*.main-heading {
  color: black;
}*/

#start-quiz-button {
  margin: 30px;
  border: 1em;
}

.form-container,
.question-section {
  background-color: faedcd;
  text-align: center;
}

.list-item {
  background-color: aqua;
  margin: 10px;
  list-style-type: none;
}

.form-container {
  justify-content: center;
}
/* Styles for main section end here */
@media (max-width: 700px) {
  .header {
    flex-direction: column;
  }
}
